<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello!</div>

<div>
    <form method="post" action="addrecord">
        <input type="text" name="name" placeholder="Enter name" />
        <input type="text" name="phoneNumber" placeholder="Enter phone number" />
        <button type="submit"> Add record </button>
    </form>
</div>

<div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <button type="submit">Filter</button>
    </form>

</div>


<table border="1">
    <thead>
    <tr>
        <td>
            Name
        </td>
        <td>
            Phone Number
        </td>
        <td>
            Action
        </td>
    </tr>
    </thead>

    <tbody>
    {{#peoples}}
        <tr>
            <form method="post" action="delete">
                <input type="hidden" name="id" value="{{id}}">
                <td>
                    <span>{{name}}</span>
                </td>
                <td>
                    <i>{{phoneNumber}}</i>
                </td>
                <td>
                    <button type="submit"> Delete record</button>
                </td>
            </form>
        </tr>

        </div>
    {{/peoples}}

    </tbody>

</table>

</body>
</html>